@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primarycolor: #adf802;
}



body {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(19, 19, 19);
}


